*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# misc
GPATH
GRTAGS
GTAGS
TAGS
gtags.conf
*~
\#*\#

#mac 
.DS_Store

#win
Thumbs.db

# files
Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
doc/slim.1
libtool
**/.deps/
**/.libs/
config.h
config.h.in
genconfig
stamp-h1
test-driver
ylwrap
aclocal.m4
lib/config.lmn
lib/__error_temp.txt
lib/*.il
*.lo
*.la
src/arch.h
src/interpret_generated.c
src/translate_generated.c
src/slim

# parser, lexer
*_parser.[ch]
*_lexer.[ch]
